.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2.5rem;
}
.port_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 335px;
    height: 490px;
}
.port_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.port_item_img {
    border-radius: 1.4rem;
    overflow: hidden;
    height: 300px;
}
.port_item h3 {
    margin: 1.2rem 0 2rem;
}
.port_item_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
